numpy<1.99
pyaml
PyQt5
pyshp
cython
enum34
Sphinx
pydata-sphinx-theme
sphinx_autodoc_annotation
nbsphinx
pillow
matplotlib
folium
keplergl
sphinx-git
sphinx-gallery
sphinx-panels
sphinx_theme
sphinx-copybutton
