numpy<1.99
pyaml
PyQt5
pyshp
cython
enum34
Sphinx
pydata-sphinx-theme==0.13.3
sphinx_autodoc_annotation
pillow
matplotlib
folium
keplergl
sphinx-gallery
sphinx-copybutton
sphinx-design
sphinx-git
nbconvert