numpy<1.99
pyaml
PyQt5
pyshp
cython
enum34>=1.1.6
Sphinx>=1.7.5
pydata-sphinx-theme==0.13.3
sphinx_autodoc_annotation
nbsphinx
pillow
matplotlib
folium
keplergl
sphinx-git
sphinx-gallery
sphinx-panels
sphinx_theme
sphinx-copybutton
