name: Build and upload Linux Python Package

on:  [pull_request, release]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install packages
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel==0.31.1
        python -m pip install --upgrade cffi setuptools twine

    - name: Build manylinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.3.3-manylinux2014_x86_64
      with:
        python-versions: 'cp37-cp37m cp38-cp38 cp39-cp39 cp310-cp310'
        build-requirements: 'setuptools numpy cython pyaml pyqt5 requests scipy shapely pandas pyarrow'
        pip-wheel-args: '--no-deps'

    - name: Moves wheels
      run: |
        mkdir -p dist
        cp -v ./*-manylinux*.whl dist/

    - name: Stores artifacts along with the workflow result
      if: ${{ github.event_name == 'push'}}
      uses: actions/upload-artifact@v2
      with:
        name: library
        path: dist/*.whl
        if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`

    - name: Publish wheels to PyPI
      if: ${{ github.event_name == 'release'}}
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/*-manylinux*.whl

    - name: Save wheels to AWS
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-east-1'   # optional: defaults to us-east-1
        SOURCE_DIR: 'dist/'      # optional: defaults to entire repository
        DEST_DIR: 'wheels/'      # optional: defaults to entire repository